body {
  background-color:black;
  background-size:cover;
  background-repeat:no-repeat;
}

body.clear {
  background-color:black;
  background-image:url(pictures/clear.png);
  background-size:cover;
  background-repeat:no-repeat;
}

body.clouds{
  background-color:black;
  background-image:url(pictures/clouds.png);
  background-size:cover;
  background-repeat:no-repeat;
}

body.snow{
  background-color:black;
  background-image:url(pictures/snow.png);
  background-size:cover;
  background-repeat:no-repeat;
}

body.rain{
  background-color:black;
  background-image:url(pictures/rain.png);
  background-size:cover;
  background-repeat:no-repeat;
}
